{{- $wrapper := default "div" .Get "wrapper" -}}
<{{ $wrapper }} class="libro-wrapper">
  <img src="{{ .Get "caratula" }}" alt="{{ .Get "titulo" }}"/>
  <h2>{{ .Get "titulo" }}</h2>
  <p>{{ .Get "autor" }}</p>
  <a href="{{ .Get "enlace" }}">Descargar PDF</a>
</{{ $wrapper }}>
