{{ define "main" }}
  <div class="post">
    <h1 class="post-title">404 — {{ $.Site.Params.missingContentMessage | default "¡Vaya! Parece que la página que estás buscando se ha liberado y ya no está bajo control. Tal vez haya sido secuestrada por la autoridad o simplemente haya decidido rebelarse contra el sistema. De cualquier manera, te sugerimos que busques en otros lugares para encontrar lo que estás buscando. ¡La lucha continúa!" }}</h1>

    <div class="post-content">
      <a href="{{ "/" | absURL }}">{{ $.Site.Params.missingBackButtonLabel | default "Volver al blog" }}&nbsp;→</a>
    </div>

  </div>
{{ end }}
